//- header.jade
head
  title Ozwillo

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  link(href='/static/css/bootstrap.min.css', rel='stylesheet')
  link(href='/static/css/specific.css', rel='stylesheet')

  //- Fav and touch icons
  link(rel="apple-touch-icon", sizes="57x57", href="/static/img/favicons/apple-touch-icon-57x57.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="60x60", href="/static/img/favicons/apple-touch-icon-60x60.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="72x72", href="/static/img/favicons/apple-touch-icon-72x72.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="76x76", href="/static/img/favicons/apple-touch-icon-76x76.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="114x114", href="/static/img/favicons/apple-touch-icon-114x114.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="120x120", href="/static/img/favicons/apple-touch-icon-120x120.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="144x144", href="/static/img/favicons/apple-touch-icon-144x144.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="152x152", href="/static/img/favicons/apple-touch-icon-152x152.png?v=OmmGW0j2pJ")
  link(rel="apple-touch-icon", sizes="180x180", href="/static/img/favicons/apple-touch-icon-180x180.png?v=OmmGW0j2pJ")
  link(rel="icon", type="image/png", href="/static/img/favicons/favicon-32x32.png?v=OmmGW0j2pJ", sizes="32x32")
  link(rel="icon", type="image/png", href="/static/img/favicons/favicon-194x194.png?v=OmmGW0j2pJ", sizes="194x194")
  link(rel="icon", type="image/png", href="/static/img/favicons/favicon-96x96.png?v=OmmGW0j2pJ", sizes="96x96")
  link(rel="icon", type="image/png", href="/static/img/favicons/android-chrome-192x192.png?v=OmmGW0j2pJ", sizes="192x192")
  link(rel="icon", type="image/png", href="/static/img/favicons/favicon-16x16.png?v=OmmGW0j2pJ", sizes="16x16")
  link(rel="manifest", href="/static/img/favicons/manifest.json?v=OmmGW0j2pJ")
  link(rel="mask-icon", href="/static/img/favicons/safari-pinned-tab.svg?v=OmmGW0j2pJ", color="#6f438e")
  link(rel="shortcut icon", href="/static/img/favicons/favicon.ico?v=OmmGW0j2pJ")
  meta(name="apple-mobile-web-app-title", content="Ozwillo")
  meta(name="application-name", content="Ozwillo")
  meta(name="msapplication-TileColor", content="#ffffff")
  meta(name="msapplication-TileImage", content="/static/img/favicons/mstile-144x144.png?v=OmmGW0j2pJ")
  meta(name="msapplication-config", content="/static/img/favicons/browserconfig.xml?v=OmmGW0j2pJ")
  meta(name="theme-color", content="#6f438e")
    
  - var getPageLink = function(page) {
  -    return '/' + i18n.lng() + '/' + t('route:::' + page);
  - }

  - var getStoreLink = function(appId) {
  -    return getOzwilloHost('portal') + '/' + i18n.lng() + '/store/application/' + appId;
  - }

  - var getOzwilloHost = function(appName) {
  -    return 'https://' + host.replace('www', appName);
  - }
