- var page = 'home'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    // Titre
    .container-fluid.headerHome
      .row
        .col-md-12
          h1.titre
            | Ozwillo est une plate-forme d'applications interactives grâce au partage de données.
        .col-md-12
          a.btn-primary.btnRed(href=getPageLink('discover')) Explorer

    // TOP
    .row.clearfix.grey
      .container-fluid
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h2.soustitre!= t('home:::professional_title', { postProcess: "jade" })
              p.paraHome
                | Vous trouverez ici, des services citoyens et des applications qui vous sont destinés.
              ul.liens
                li Logiciels de gestion financière
                li Gestionnaires de démarches en ligne
                li Hotspot wifi
                li Cartographie participative
              a.btn-primary.btnViolet(href='#')
                | Explorer
                img(src='/static/img/arrow-white.png')
            .col-md-6.column
              img.img-responsive.image(src='/static/img/mobile.jpg')
    // APPS
    .row.clearfix
      .container-fluid
        .col-md-12.column
          .row.clearfix
            h2.appli
              | Ils ont déjà rejoint
              img.marge(src='/static/img/logo.png')
        // APPS
        .col-md-12.column
          .row.clearfix
            .col-md-4.column
              .apps
                span.cercle
                  img.appImage(src='/static/img/opendata.jpg')
                span.cadre
                  span.titreApps Open Data
                  p.paraApps Publiez et hébergez vos données en Open Data sur Ozwillo
                  a.btn-primary.btnApps(href='') Découvrir
            .col-md-4.column
              .apps
                span.cercle
                  img.appImage(src='/static/img/fluxdemat.jpg')
                span.cadre
                  span.titreApps Fluxdemat
                  p.paraApps
                    | Application de dématérialisation des flux financiers (PESV2) et des actes pour contrôle de légalité
                  a.btn-primary.btnApps2(href='') En cours
            .col-md-4.column
              .apps
                span.cercle
                  img.appImage(src='/static/img/zimbra.jpg')
                span.cadre
                  span.titreApps Zimbra
                  p.paraApps Application open source de collaboration : messagerie-mail, partage de documents
                  a.btn-primary.btnApps2(href='') En cours
        .col-md-12.column
          .row.clearfix
            .col-md-4.column
              .apps
                span.cercle
                  img.appImage(src='/static/img/docuwiki.jpg')
                span.cadre
                  span.titreApps DocuWiki
                  p.paraApps Application de wiki open source
                  a.btn-primary.btnApps2(href='') En cours
            .col-md-4.column
              .apps
                span.cercle
                  img.appImage(src='/static/img/abrilocal.jpg')
                span.cadre
                  span.titreApps AgriLocal
                  p.paraApps
                    | Plateforme d'achats de denrées locales pour les cantines et établissements publics
                  a.btn-primary.btnApps2(href='') En cours
            .col-md-4.column
              .apps
                span.cercle
                  img.appImage(src='/static/img/10thingstosee.jpg')
                span.cadre
                  span.titreApps 10 Things to see
                  p.paraApps
                    | Un guide communautaire des lieux incontournables à voir dans une ville ou près d’une destination touristique
                  a.btn-primary.btnApps2(href='') En cours
    span.separationBas
    // Store
    .row.clearfix.grey
      .container-fluid
        .col-md-12.column
          .row.clearfix
            .col-md-4.column
              img.img-responsive.image(src='/static/img/store.jpg')
            .col-md-8.column
              h2.soustitre
                | Vous êtes éditeur et voulez
                br
                | commercialiser
                span.gras votre application ?
              p.paraHome
                | Les librairies et outils permettant d'utiliser plus
                br
                | facilement la plateforme sont publiés en licence Lesser GPL.
              a.btn-primary.btnViolet(href=getPageLink('lets-go'))
                | Explorer
                img(src='/static/img/arrow-white.png')
    // Developpeur
    .row.clearfix
      .container-fluid
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h2.soustitre
                | Vous êtes
                span.gras développeur
                |  ?
                br
                | Ozwillo vous permet de
                br
                span.gras lancer
                |  votre application
              p.paraHome
                | Basé sur un modèle ouvert (code source), et permettant la
                br
                | réutilisation des données produites par l'ensemble des
                br
                | applications, vos capacités seront comme décuplées.
              a.btn-primary.btnViolet(href='#')
                | Explorer
                img(src='/static/img/arrow-white.png')
            .col-md-6.column
              img.img-responsive.image(src='/static/img/application.jpg')

    include ./footer.jade
    include ./scripts.jade
