- var page = 'news'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    // TOP
    .container-fluid.BG
      .row
        .col-md-6
          h1.titreInter= t('news:::main_title')

    .container-fluid
      .row
        .col-md-9
          .row
            // HEAD NEWS ON FULL WIDTH
            .col-md-12.column.news
              h2.titreActu OZWILLO PRÉSENTÉ AU COLLOQUE “L'IMPACT DU NUMÉRIQUE SUR LE DÉVELOPPEMENT ÉCONOMIQUE LOCAL”
              p.auteurs Publié le 14 Septembre 2015
              p.paraActu
                | Le colloque sur “l’impact du numérique sur le développement économique local” organisé jeudi 10 septembre
                | 2015 par la FNCCR et la mission Ecoter a donné un panorama des raisons pour lesquelles le numérique peine
                | encore en France à bien se déployer dans les politiques publiques. L'occasion pour Sophie Houzet,
                | directrice du Pôle Numérique, de présenter Ozwillo et toutes ses innovations.
              iframe(src='//fr.slideshare.net/slideshow/embed_code/key/EoGxQcGNEeeIgt', width='425', height='355', frameborder='0', marginwidth='0', marginheight='0', scrolling='no', style='border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;', allowfullscreen='')

          // LEFT HAND NEWS COLUMN
          .row
            .col-md-6.column
              h2.titreActu2 OPENLAB ÉCOSYSTÈME NUMÉRIQUE DES TERRITOIRES
              p.auteurs Publié le 16 Octobre 2015
              p.paraActu
                | Ozwillo présenté le 16 octobre 2015, lors de la matinée créative autour de l'écosystème numérique des
                | territoires, dans le cadre de
                a(href='http://www.modernisation.gouv.fr/la-semaine-de-linnovation-publique/programme/programme-2015/openlab-ecosysteme-numerique-des-territoires') la semaine de l'innovation publique, open lab écosystème numérique.
                |  Le Pôle Numérique contribue à la réflexion et a apporté son expertise sur le partage de la donnée avec
                | Ozwillo lors de cette journée.

              h2.titreActu2 UNE VIDÉO POUR MONTRER L'AVANT / APRÈS OZWILLO SUR LA VIE D'UNE MAMAN
              p.auteurs Publié le 15 Septembre 2015
              iframe(width='400', height='200', src='https://www.youtube.com/embed/ifQwjnKhKGo', frameborder='0', allowfullscreen='')

              h2.titreActu2 PRÉSENTATION D'OZWILLO À CLOUDWEEK PARIS ET À L'ATELIER OPEN DATA E-BOURGOGNE
                p.auteurs Publié le 25 Juillet 2015
                iframe(src='https://www.slideshare.net/slideshow/embed_code/key/250ryQ6Z7YTQL9', width='476', height='400', frameborder='0', marginwidth='0', marginheight='0', scrolling='no')

              h2.titreActu2 DES COMMUNS ET DES HOMMES
                p.auteurs Publié le 1er Juillet 2015
                blockquote.twitter-tweet(lang='fr')
                  p(lang='fr', dir='ltr')
                    | Des communs et des hommes #biencommun
                    a(href='https://twitter.com/Ozwillo') @Ozwillo
                    a(href='https://youtu.be/qrgtbgjMfu0') https://youtu.be/qrgtbgjMfu0
                  a(href='https://twitter.com/hoppena/status/616237576366723072') 1er Juillet 2015
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')

            // RIGHT HAND NEWS COLUMN
            .col-md-6
              h2.titreActu2 LES ENJEUX DE L'OPEN DATA
              p.auteurs Publié le 24 Septembre 2015
              p.paraActu
                | Le support utilisé lors des 3 sessions « 1h pour » organisées au Pôle Numérique et en visio avec Biovallée,
                | à l'atelier à Die et à Asoft Nyons, à propos d'Open data :
              iframe(src='//fr.slideshare.net/slideshow/embed_code/key/sYTauV4pULGer4', width='425', height='355', frameborder='0', marginwidth='0', marginheight='0', scrolling='no', style='border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;', allowfullscreen='')

              h2.titreActu2 10THINGSTOSEE DÉBARQUE SUR OZWILLO
              p.auteurs Publié le 28 Août 2015
              blockquote.twitter-tweet(lang='fr')
                p(lang='fr', dir='ltr')
                  | Des communs et des hommes #biencommun
                  a(href='https://twitter.com/Ozwillo') @Ozwillo
                  a(href='https://youtu.be/qrgtbgjMfu0') https://youtu.be/qrgtbgjMfu0
                a(href='https://twitter.com/10ThingsToSee/status/638634946337353728') 1er Juillet 2015
              script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')

        // TWITTER TIMELINE
        .col-md-3.grey
          .tweets
            a.twitter-timeline(href='https://twitter.com/Ozwillo', data-widget-id='570896372849999872') Tweets de @Ozwillo
            script.
              !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + "://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js, fjs);
                }
              }(document, "script", "twitter-wjs");

    include ./footer.jade
    include ./scripts.jade