- var page = 'projects'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    // Livrables
    .row.clearfix
      .container-fluid
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h2.soustitre
                span.gras Livrables ?!
                br
                | Qu’est-ce que c’est ?
              p.paraHome
                | Le programme de travail tout au long d’un projet européen contient la rédaction de livrables.
                br
                span.gras
                  | Un livrable est un document rédigé en anglais, décrivant un résultat, mesurable, tangible ou vérifiable, qui résulte de l’achèvement d’une partie du projet.
                br
                br
                | Au lancement du projet un tableau des livrables et défini. Il fixe le nombre et les échéances des livrables à transmettre à la commission européenne.
                br
                br
                span.gras Les livrables s'organisent de la manière suivante :
              ul.liensInter
                li
                  | Tous les livrables commençant par le chiffre 1 correspondent à la définition et aux spécifications de l’architecture technique.
                li
                  | Les livrables débutant par le chiffre 2 parlent du développement de la plateforme et des applications.
                li
                  | A partir du chiffres 3, les livrables exposent le modèle économique et la gouvernance de la plateforme.
                li Les sites pilotes sont eux exposés dans les livrables numéroté 4.
                li
                  | Le chiffre 5, regroupe les livrables qui traitent des indicateurs et du suivi de performance.
                li
                  | Et enfin les livrables chiffrés 6, tournent autour des questions de management et de stratégie de communication.
            .col-md-6.column.violet
              span.intertitre Les livrables de référence
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D1.1_Platform-requirements_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D1.1 :
                br
                | Introduction
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D1.2_Architectural-design-first-iteration_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D1.2 : Présentation de l'architecture
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D1.32_Privacy-requirements-personal-data-legislation-second-iteration_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D1.32 : Protection des données perso
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D2.1_Report-implementation_vf_bd2.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D2.1 : Implémentation technique
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D2.2_Guidelines-for-designing-services_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D2.2 : Guide d'utilisation
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D2.3_Adapted-solutions-user-identification-authentication_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D2.3 : Solutions d'authentification
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D3.1_Business-case-first-iteration_vf_bd.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D3.1 : Business modèle
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D3.4_Governance_VF.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D3.4 : Principes de gouvernance
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D51_Initial-KPIs-Report-Requirements_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D5.1 : Indicateurs de performance
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D6.1_Management_Manual_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D6.1 : Gestion de projets
              .col-md-3.column.white
                a(href='https://www.ozwillo.com/images/pdf/OASIS_D6.31_Dissemination-Exploitation-of-foreground-N1_vf.pdf')
                  img(src='/static/img/pdf.png')
                br
                | D6.31 : Stratégie de communication

    include ./footer.jade
    include ./scripts.jade
