- var page = 'terms'
doctype html
html(lang=i18n.lng())
    include ./header.jade
    body
        include ./menu.jade
html
  body
    // TOP
    .row.clearfix.BG
      .container
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h1.titreInter= t('terms:::title')
    // APPLIS
    .row.clearfix
      .container
        .col-md-12.column
          .row.clearfix
            h2.soustitre= t('terms:::subtitle')
            p.paraHome!= t('terms:::text')

  include ./footer.jade
  include ./scripts.jade