@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 300 !important;
    background-color: #fff;
    overflow-x: hidden;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-weight: 300;
    line-height: 1;
    color: #777;
}

a:focus, a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 5px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

#ozwillo-navbar {
    margin-top: 10px;
}

.btn-primary img {
    margin-left: 5px;
}

/*****************************************************************************************************************
******************************************************** Accueil *************************************************
*****************************************************************************************************************/

.headerHome {
    background: url(/static/img/BG-Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.greyColor {
    color: #dcd9d9;
    text-transform: uppercase;
    font-size: 14px;
}

.space {
    margin-top: 46px;
}

.whiteColor {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 36px;
}

.whiteColor:hover, .whiteColor:focus {
    color: #fff;
}

.gris {
    color: #666;
}

.blancL {
    color: #fff;
}

.blancL:hover {
    color: #ccc;
}

.blanc {
    color: #666;
}

.logo {
    margin-top: 20px;
}

.right {
    float: right !important;
}

.links a {
    margin-left: 15px;
    margin-top: 46px;
    display: inline-block;
}

.links a:hover {
    color: #fff !important;
    text-decoration: none;
}

.links img {
    margin-right: 5px;
}

.titre {
    font-size: 46px;
    color: #fff;
    margin: 160px 0 73px 0;
    display: inline-block;
    text-align: center;
}

.btnRed {
    background-color: #e8165b;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 61px;
    height: 61px;
    width: 200px;
    display: block;
    margin: 0 auto 190px auto;
    padding: 0;
    border-bottom: 3px solid #b30e44;
}

.btnRed:hover {
    background-color: #b30e44;
    border-bottom: 3px solid #b30e44;
}

.grey {
    background-color: #faf8f8;
    min-height: 300px;
}

.soustitre {
    font-size: 45px;
    color: #000;
    margin: 78px 0 39px 0;
    display: inline-block;
}

.gras {
    font-weight: 400;
}

.image {
    margin: 78px 0 0 0;
    display: inline-block;
}

.paraHome {
    font-size: 16px;
    color: #6a6767;
    margin: 0px 0 31px 0;
}

ul.liens {
    padding-left: 20px;
    margin-bottom: 39px;
}

ul.liens li {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    list-style: url(/static/img/arrow.png);
    color: #7e4ca1;
    padding-left: 0;
    margin-left: 0;
}

.btnViolet {
    background-color: #6f438e;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 61px;
    height: 61px;
    width: 200px;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #542d6f;
}

.btnViolet:hover {
    background-color: #542d6f;
    border-bottom: 3px solid #542d6f;
}

.appli {
    font-size: 46px;
    color: #6f438e;
    margin: 58px 0 58px 0;
    display: block;
    text-align: center !important;
}

.marge {
    margin: -17px 0 0 5px;
}

.apps {
    height: auto;
    width: 430px;
    display: block;
    position: relative;
    margin-bottom: 92px;
}

.cercle {
    background: url(/static/img/cercle.png);
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 164px !important;
    height: 164px !important;
    display: block;
    margin-left: -82px;
    left: 50%;
}

.cadre {
    border: 1px solid #d3d2d2;
    min-height: 436px;
    width: 400px;
    display: block;
    top: 82px;
    position: relative;
}

.appImage {
    width: auto;
    height: auto;
    margin: 35px 0 0 35px;
}

.titreApps {
    color: #4c4c4c;
    font-size: 36px;
    margin: 90px 0 20px 0;
    text-align: center;
    display: block;
}

.paraApps {
    color: #848285;
    font-size: 20px;
    margin: 0 40px 66px 40px;
    text-align: center;
    display: block;
}

.btnApps {
    background-color: #6f438e;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 51px;
    height: 51px;
    width: 142px;
    display: block;
    margin: 0 auto 35px auto;
    padding: 0;
}

.btnApps:hover {
    background-color: #6f438e;
}

.btnApps2 {
    background-color: transparent;
    font-size: 20px;
    color: #6f438e !important;
    text-align: center;
    line-height: 51px;
    height: 51px;
    width: 142px;
    display: block;
    margin: 0 auto 35px auto;
    padding: 0;
    border: 1px solid #6f438e !important;
}

.btnApps2:hover {
    background-color: transparent;
    color: #6f438e !important;
}

.separation {
    width: auto;
    height: 125px;
    display: block;
}

.separationBas {
    width: auto;
    height: 148px;
    display: block;
}

.footer {
    background: #dfcae2;
    padding-top: 60px;
    padding-bottom: 30px;
}

.logo-footer {
    width: auto;
    height: auto;
    margin: 0 0 25px 0;
}

.greyLink {
    color: #454446;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 0 25px;
    text-transform: uppercase;
}

.top {
    margin-top: 25px;
}

.bordure {
    border-bottom: 1px solid #b294c0;
}

.logo-twitter {
    width: auto;
    height: auto;
    margin: 25px 0 0 0;
}

#englobe {
    display: block;
}

#mobile {
    display: none !important;
    visibility: hidden !important;
}

.nocache {
    /*
    display: none !important;
    sibility: hidden !important;
    */
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

/*****************************************************************************************************************
******************************************************** Pages internes ******************************************
*****************************************************************************************************************/

.header {
    background: #fff;
    min-height: 156px;
}

.purpleColor {
    color: #6f438e;
    text-transform: uppercase;
    font-size: 14px;
}

.erase.gris {
    color: #666 !important;
}

ul.dropdown-menu > li > .gris {
    color: #666 !important;
}

ul.dropdown-menu > li > .gris:hover {
    color: #333 !important;
}

a.purpleColor {
    color: #6f438e !important;
    text-transform: uppercase;
    font-size: 14px;
}

a.purpleColor:hover, a.purpleColor:focus {
    color: #6f438e !important;
}

.BG {
    background: url(/static/img/BG-Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    padding-bottom: 25px;
}

.map {
    background: url(/static/img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 757px;
    padding-bottom: 25px;
}

.sky {
    background: url(/static/img/ciel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 691px;
    padding-bottom: 25px;
}

.aligne {
    display: block;
}

.para {
    font-size: 30px;
    color: #f2efef;
    margin: 0px 50px 59px 0;
    display: inline-block;
    font-weight: 100;
}

.para2 {
    margin: 0px 50px 25px 0;
}

.paragraphe {
    font-size: 17px;
    color: #f2efef;
    margin: 0px 0 20px 0;
    display: inline-block;
    font-weight: 100;
    clear: both;
}

.paraViolet {
    font-size: 26px;
    color: #6f438e;
    margin: 0px 0 37px 0;
    display: block;
    font-weight: 300;
    text-align: center;
}

.black {
    color: #333;
}

.retrait {
    margin-right: 50px;
    margin-bottom: 75px;
}

.retrait2 {
    margin-right: 100px;
}

.slogan {
    font-size: 20px;
    color: #fff;
    margin: 0px 0 57px 0;
    display: block;
    font-weight: 300;
    clear: both;
}

.titreInter {
    font-size: 45px;
    color: #fff;
    margin: 50px 0 50px 0;
    display: inline-block;
}

.soustitre2 {
    font-size: 45px;
    color: #000;
    margin: 78px 0 56px 0;
    display: block;
    text-align: center;
}

.soustitre3 {
    font-size: 45px;
    color: #fff;
    margin: 78px 0 59px 0;
    display: block;
    text-align: center;
}

h3 {
    margin-bottom: 35px;
}

.noBold {
    font-weight: 100;
}

.little {
    font-size: 30px;
}

.little2 {
    font-size: 14px;
}

.btnRedInter {
    background-color: #e8165b;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 74px;
    height: 74px;
    width: 252px;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #b30e44;
    float: left;
    clear: both;
}

.btnRedInter:hover {
    background-color: #b30e44;
    border-bottom: 3px solid #b30e44;
}

.btnLine {
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 74px;
    height: 74px;
    width: 252px;
    display: block;
    margin: 0 0 0 25px;
    padding: 0;
    border: 1px solid #fff;
    float: left;
}

.btnLine:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

ul.phrase {
    padding-left: 20px;
    margin-bottom: 39px;
    width: 550px;
}

ul.phrase li {
    font-size: 16px;
    color: #6a6767;
    margin: 0 0 25px 0;
    padding-left: 50px;
    font-weight: 300;
    list-style: none;
    background: url(/static/img/icones.png);
    background-repeat: no-repeat;
    background-position: top left;
}

ul.liensInter {
    padding-left: 20px;
    margin-bottom: 39px;
}

ul.liensInter li {
    font-size: 16px;
    font-weight: 400;
    list-style: url(/static/img/arrow.png);
    color: #7e4ca1;
    padding-left: 0;
    margin: 0 0 25px 0;
}

.violet {
    padding: 30px;
    background: #7e4ca1;
    margin: 78px 0 0 0;
}

.intertitre {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    margin: 0 0 50px 0;
    display: block;
}

.white {
    color: #fff;
    font-size: 12px;
    margin: 0 0 60px 0;
}

.ressources {
    font-size: 16px;
    color: #7e4ca1;
    margin: 0 0 35px 0;
}

.ressources img {
    display: inline-block;
    margin: 0 0 20px 0;
    text-align: center;
}

.lancer {
    font-size: 14px;
    color: #fff;
    margin: 0 0 35px 0;
}

.lancer .grasWhite {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    display: block;
    margin: 0;
}

.lancer img {
    display: inline-block;
    margin: 0 0 20px 0;
    text-align: center;
}

.para3 {
    font-size: 20px;
    color: #6a6767;
    margin: 0px 100px 31px 0;
    display: inline-block;
}

.infos {
    font-size: 16px;
    color: #6a6767;
    margin: 75px 0 75px 0;
    display: block;
}

.infos img {
    display: inline-block;
    margin: 0 0 35px 0;
    text-align: center;
}

.btnRedInter2 {
    background-color: #e8165b;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 74px;
    height: 74px;
    width: 252px;
    display: block;
    margin: 30px auto 0 auto;
    padding: 0;
    border-bottom: 3px solid #b30e44;
    clear: both;
}

.btnRedInter2:hover {
    background-color: #b30e44;
    border-bottom: 3px solid #b30e44;
}

.flag {
    font-size: 16px;
    color: #6a6767;
    margin: 0 30px 75px 0;
    display: block;
}

.flag img {
    display: inline-block;
    margin: 0 0 25px 0;
    text-align: center;
}

.flag .gras {
    color: #6f438e;
}

.espace {
    margin-top: 65px;
}

.space {
    margin-top: 20px;
}

.mail-result-message {
    margin-top: 20px;
}

ul.infos {
    padding-left: 20px;
    margin-bottom: 39px;
    /*width: 550px;*/
}

span.lt {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    clear: both;
    display: block;
}

ul.infos li {
    font-size: 18px;
    color: #000;
    margin: 0 0 25px 0;
    padding-left: 30px;
    font-weight: 300;
    list-style: none;
    background: url(/static/img/marker.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}

ul.infos li a {
    color: #8765ac;
}

ul.infos.phone li {
    background: url(/static/img/phone.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}

ul.infos.mail li {
    background: url(/static/img/mail.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}

.champ {
    width: 260px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #eeebeb;
    background: #f9f9f9;
    color: #646262;
    font-size: 16px;
    border-radius: 0;
    /*margin: 0 20px 0 0;*/
    display: block;
    padding: 0 0 0 20px;
}

.texte {
    width: 540px;
    height: 150px;
    border: 1px solid #eeebeb;
    background: #f9f9f9;
    color: #646262;
    font-size: 16px;
    border-radius: 0;
    margin: 0 20px 0 0;
    display: block;
    clear: both;
    padding: 10px 0 0 20px;
}

.leftCol {
    width: auto;
    height: auto;
    float: left;
}

.rightCol {
    width: auto;
    height: auto;
    float: right;
}

.btnRedSubmit {
    background-color: #e8165b;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 52px;
    height: 52px;
    width: 165px;
    display: block;
    margin: 0 0 35px 0;
    padding: 0;
    border-bottom: 3px solid #b30e44;
    float: left;
    clear: both;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.btnRedSubmit:hover {
    background-color: #b30e44;
    border-bottom: 3px solid #b30e44;
}

iframe {
    width: 100%;
    height: 350px;
}

a.nocache.violetL {
    color: #6F438E !important;
}

.nav > li > a > img {
    margin: 0 5px 0 0;
}

.lab {
    width: auto !important;
}

.ads {
    padding: 0 0 0 35px;
}

.top {
    margin-top: 35px;
}

.closeUp {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.closeIn {
    display: none;
}

.apps2 {
    height: auto;
    width: 310px;
    display: block;
    position: relative;
    margin-bottom: 92px;
    margin-top: 25px;
    overflow: visible;
}

.cercle2 {
    background: url(/static/img/cercle.png);
    position: absolute;
    top: 0;
    z-index: 999;
    width: 164px !important;
    height: 164px !important;
    display: block;
    margin-left: -82px;
    left: 50%;
}

.cadre2 {
    border: 1px solid #d3d2d2;
    min-height: 300px;
    width: 310px;
    display: block;
    top: 82px;
    position: relative;
}

.appImage2 {
    width: 71px;
    height: 71px;
    margin: 45px 0 0 45px;
}

.titreApps2 {
    color: #4c4c4c;
    font-size: 24px;
    margin: 90px 0 10px 0;
    text-align: center;
    display: block;
}

.paraApps2 {
    color: #848285;
    font-size: 15px;
    margin: 0 40px 66px 40px;
    text-align: center;
    display: block;
}

.btnApps3 {
    position: absolute;
    font-size: 16px;
    color: #fff;
    height: 51px;
    width: 168px;
    left: 50%;
    margin-left: -84px;
    bottom: 15px;
    display: block;
    border: 0;
}

.photo-apps img {
    width: 132px;
    height: 132px;
    display: block;
}

.informations h1 {
    color: #000;
    font-size: 36px;
    margin: 0 0 20px 0;
}

.informations .editeur {
    color: #6d6a6a;
    font-size: 16px;
    margin: 0;
    display: block;
}

.informations .rate {
    width: auto;
    display: block;
}

.informations .contribs {
    display: block;
    margin-top: 15px;
}

.informations .contribs a {
    color: #6f438e;
    font-size: 14px;
    margin: 0 20px 20px 0;
    display: inline-block;
}

.btns {
    margin-top: 65px;
}

.screens {
    width: 800px;
    margin: 0 auto;
}

.paraModal {
    font-size: 16px;
    color: #646161;
    margin: 25px auto 25px auto;
    display: block;
    font-weight: 300;
    clear: both;
    width: 800px;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #d4d2d2;
}

.paraModalViolet {
    font-size: 16px;
    color: #6f438e;
    margin: 0 auto 25px auto;
    display: block;
    font-weight: 300;
    clear: both;
    width: 800px;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #d4d2d2;
}

.paraModalViolet .titreV {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.paraModalViolet2 {
    font-size: 16px;
    color: #6f438e;
    margin: 0 auto 25px auto;
    display: block;
    font-weight: 300;
    clear: both;
    width: 800px;
    padding: 0;
}

.paraModalViolet2 .titreV {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.table-purple {
    color: #6f438e;
    width: 800px;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.news {
    margin-bottom: 20px;
    border-bottom: 1px solid #e3dfdf;
}

.titreActu {
    font-size: 36px;
    color: #6f438e;
    margin: 25px 0 10px 0;
}

.titreActu2 {
    font-size: 24px;
    color: #6f438e;
    margin: 25px 0 10px 0;
}

.titreNews {
    font-size: 20px;
    color: #6f438e;
    margin: 25px 0 15px 50px;
    display: block;
}

.auteurs {
    font-size: 12px;
    color: #a39f9f;
    margin: 0 0 15px 0;
}

.paraActu {
    color: #524d4d;
    font-size: 17px;
    margin: 15px 0 15px 0;
}

.paraNews {
    color: #6f6d6d;
    font-size: 16px;
    margin: 0 0 15px 50px;
}

.btnRedActu {
    background-color: #e8165b;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 52px;
    height: 52px;
    width: auto;
    display: inline-block;
    margin: 0 auto 25px auto;
    padding: 0 15px 0 15px;
    border-bottom: 3px solid #b30e44;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.btnRedActu:hover {
    background-color: #b30e44;
    border-bottom: 3px solid #b30e44;
}

.newsletter {
    width: 315px;
    height: auto;
    margin: 0 auto;
}

.newsletter input {
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-radius: 0;
}

.tweets {
    width: 270px;
    height: auto;
    margin: 25px auto 25px auto;
}

.similar {
    width: auto;
    height: auto;
    display: block;
}

.similar h2 {
    font-size: 24px;
    color: #6f438e;
    width: auto;
    height: auto;
    margin: 15px 0 15px 0;
    display: block;
}

.similar a {
    font-size: 16px;
    color: #706c6c;
    width: auto;
    height: auto;
    margin: 15px 0 0 0;
    display: block;
}

.similar a:hover {
    text-decoration: underline;
}

/***************************************************************************************************************
****************************************************************************************************************
******************************************** VERSION MOBILE ****************************************************
****************************************************************************************************************
***************************************************************************************************************/

/**********************
VERSION 1024
***********************/

@media (max-width: 1024px) {

    .soustitre {
        font-size: 35px;
    }

    .greyLink {
        font-size: 12px;
    }

    .titreApps {
        font-size: 26px;
    }

    .paraApps {
        font-size: 16px;
    }

    .cercle {
        margin-left: -144px;
    }

    .cadre {
        width: 300px;
    }

    .deconnect2 {
        display: none;
    }

    .plus {
        display: none;
    }
}

/**********************
VERSION 768
***********************/

@media (max-width: 768px) {

    .soustitre {
        font-size: 35px;
    }

    .greyLink {
        font-size: 12px;
    }

    .links a {
        margin-top: 0px;
    }

    .titreApps {
        font-size: 26px;
    }

    .paraApps {
        font-size: 16px;
    }

    .cercle {
        margin-left: -82px;
    }

    .apps {
        width: 430px;
        margin: 0 auto 92px auto;
        position: inherit !important;
        display: block;
    }

    .cadre {
        width: 430px;
    }

    .separation {
        display: none;
    }

    .separationBas {
        height: 50px;
    }

    .soustitre {
        font-size: 35px;
        display: block;
        text-align: center;
    }

    .image {
        margin: 78px auto 0 auto;
        display: block;
    }

    .paraHome {
        display: block;
        text-align: center;
    }

    .btnViolet {
        margin: 0 auto 50px auto;
    }

    ul.liens li {
        text-align: center;
    }

    .logo {
        display: block;
        margin: 0 auto;
        width: 155px;
        height: auto;
    }

    .links {
        width: 350px;
        margin: 0 auto;
    }

    .links.right {
        float: none !important;
    }

    .titre {
        font-size: 40px;
        margin: 100px 0 73px 0;
    }

    .logo-footer {
        width: 178px;
        height: 76px;
        margin: 0 auto 25px auto;
        display: block;
    }

    .top {
        margin: 25px auto 25px auto;
        width: 670px;
    }

    .top-footer {
        margin: 25px auto 25px auto;
        width: 400px;
    }

    .right.top {
        float: none !important;
    }

    .greyLink.right {
        float: none !important;
    }

    .logo-twitter {
        width: 54px;
        height: auto;
        margin: 25px auto 0 auto;
    }

    #englobe {
        width: 175px;
        margin: 0 auto;
    !important;
    }

    .erase {
        display: none !important;
        visibility: hidden !important;
    }

    .affiche {
        display: block !important;
        visibility: visible !important;
    }

    .liensGen a {
        color: #fff;
        margin: 0 10px 0 0;
    }

    .liensGen img {
        margin: 0 5px 0 0;
    }

    .liensGen {
        display: inline-block;
    }

    .logo-home {
        width: 155px;
        height: auto;
        margin: 0 auto;
    }

    .deconnect {
        display: none;
    }

    .deconnect2 {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .plus {
        display: none;
    }

    .acces {
        width: 330px;
        height: auto;
        float: none;
        margin: 10px auto 15px auto;
        clear: both;
        display: block;
    }

    .violet {
        width: auto;
        float: none;
        min-height: auto;
    }

    .btnLine {
        float: none;
        margin: 20px 0 0 0 !important;
        clear: both;
    }
}

/**********************
VERSION 640
***********************/

@media (max-width: 640px) {
    #englobe {
        width: auto;
        margin: 0 !important;
    }

    .navbar-header {
        border: 1px solid #ccc;
        margin-top: 20px;
    }

    .eraser {
        display: none !important;
        visibility: hidden !important;
    }

    .erase {
        display: block !important;
        visibility: visible !important;
        font-size: 13px;
        text-transform: uppercase;
    }

    .navbar-default .navbar-brand {
        color: #fff;
    }

    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
        color: #fff;
    }

    .whiteColor {
        margin-top: 0px;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ccc;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ccc;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }

    .cache {
        display: none !important;
        visibility: hidden !important;
    }

    .nocache {
        display: block !important;
        visibility: visible !important;
    }

    a.nocache {
        text-transform: uppercase;
    }

    .titre {
        font-size: 40px;
        margin: 50px 0 73px 0;
    }

    .apps {
        width: 300px;
        margin: 0 auto 92px auto;
        position: inherit !important;
        display: block;
    }

    .cadre {
        width: 300px;
    }

    .appli {
        font-size: 38px;
    }

    .top {
        margin: 25px 0 25px 0;
        width: auto;
        text-align: center;
    }

    .greyLink {
        margin: 0 0 0 15px;
    }

    ul.phrase {
        width: auto;
    }

    .retrait {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .retrait2 {
        margin-right: 0px;
    }

    .texte {
        width: 90%;
    }

    .affiche .navbar-header {
        z-index: 9999;
        margin: 5px 20px 0 20px;
        border: 0;
        color: #fff;
    }

    .affiche .navbar-nav {
        z-index: 9999;
        margin: 0;
        padding: 0 0 0 20px;
        border: 0;
        background: #4C2D62 !important;
        position: relative;
    }

    .deconnect {
        display: none;
    }

    .redColor {
        color: red !important;
    }

    .deconnect2 {
        display: none;
    }

    .acces {
        width: 330px;
        height: auto;
        float: none;
        margin: 10px auto 15px auto;
        clear: both;
        display: block;
    }

    .btnCancel {
        margin: 0 0 35px 0px;
    }

    .data {
        clear: both;
        padding-left: 10px !important;
    }

    .btnRedSubmit {
        clear: both;
        margin-left: 0 !important;
        float: none;
    }

    .create {
        display: none;
    }

    .plus {
        position: absolute;
        top: 15px;
        right: 30px;
        display: block;
    }

    .champLock {
        width: auto;
        height: 61px;
    }

    .caution {
        width: auto;
        margin: 20px 0 25px 0;
    }

    .formulaire {
        width: auto;
        margin-top: 25px !important;
    }

    .footer-home p {
        width: auto;
    }

    .lightbox {
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}
